// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;



@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #00aa8d,
  secondary:  #455a64,
  danger:     #f53d3d,
  light:      #fff,
  lighter:    #e0f2f1,
  dark:       #222,
  darker:     #008975,
  fundo:      #f5f5f5,
  ativo:      orange
);

$font-family-base: helvetica;

$toolbar-background: color($colors, darker);

$background-color: color($colors, fundo);

$tabs-background: color($colors, darker);

$label-md-text-color-focused: color($colors, secondary);
$focus-outline-border-color: color($colors, secondary);
$text-input-md-highlight-color: color($colors, secondary);
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$card-ios-margin-right: 0px;
$card-ios-margin-left: 0px;

$tabs-ios-tab-color-inactive: color($colors, light);
$tabs-ios-tab-color-active: color($colors, ativo);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$card-md-margin-right: 0px;
$card-md-margin-left: 0px;

$tabs-md-tab-color-inactive: color($colors, light);
$tabs-md-tab-color-active: color($colors, ativo);



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";